{% extends ':frontend/layouts:layout.html.twig' %}

{% block content %}
    <div class="error-content text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h4>{{ status_text }}</h4>
                    <p>Извините, но такой странице не найдено</p>
                    <a href="{{ path('homepage') }}">На главную</a>
                    <h2>{{ status_code }}</h2>
                </div>
            </div>
        </div>
    </div>
{% endblock %}