{% extends ':frontend/layouts:layout.html.twig' %}

{% block content %}
    <div class="error-content text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h4>{{ status_text }}</h4>
                    <p>Извините, но это действие доступно только авторизированным пользователям</p>
                    <a href="/login">Авторизация</a>
                    <h2>401</h2>
                </div>
            </div>
        </div>
    </div>
{% endblock %}