{% extends 'frontend/layouts/layout.html.twig' %}

{% block content %}
    <div class="google-map">
        <div class="map">
            <div class="gmap">
                <div id="map"></div>
            </div>
        </div>
    </div>

    <div class="contact-content">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <h1>Контакты</h1>
                    <p class="lead">Как связаться со мной?</p>
                    <h4>
                        Skype: pers1307
                    </h4>
                    <h4>
                        Email: skulines@mail.ru
                    </h4>
                    <h4>
                        Phone: +7 (912) 6666 044
                    </h4>

                </div>
            </div>
        </div>
    </div>
{% endblock %}