{% extends 'frontend/layouts/layout.html.twig' %}

{% block content %}
    <div class="inner-content">
        <div class="container">
            <div class="row">
                <div class="col-md-10">

                    <div class="home-blog">

                        <div class="full-post">
                            <a href="blog.html"><img src="{{ asset('bundles/framework/frontend/images/home/1/1.jpg') }}" class="post-thumb img-responsive" alt=""/></a>
                            <div class="post-meta">
                                <span class="post-author">Lesly Quintella</span>
                                <span class="post-tags"><a href="#">Search Engine Optimization</a></span>
                            </div>
                            <h4><a href="blog.html">8 Essential Tools to Simplify SEO for Content Marketing</a></h4>
                            <p>Finding a real star requires going beyond "Tell me about yourself." Here are the questions that will tell you what you really want to know.</p>
                        </div>

                        <div class="half-post">
                            <div class="row">
                                <div class="col-md-6">
                                    <a href="blog.html"><img src="{{ asset('bundles/framework/frontend/images/home/1/2.jpg') }}" class="post-thumb img-responsive" alt=""/></a>
                                </div>
                                <div class="col-md-6">
                                    <h4><a href="blog.html">4 Elements You Need to Include in Your Online Marketing Campaigns</a></h4>
                                    <div class="post-meta">
                                        <span class="post-author">Lavonne Flynn</span>
                                        <span class="post-tags"><a href="#">Online Marketing</a></span>
                                    </div>
                                    <p>Finding a real star requires going beyond "Tell me about yourself." Here are the questions that will tell you what you really</p>
                                </div>
                            </div>
                        </div>

                        <div class="full-post">
                            <a href="blog.html"><img src="{{ asset('bundles/framework/frontend/images/home/1/5.jpg') }}" class="post-thumb img-responsive" alt=""/></a>
                            <div class="post-meta">
                                <span class="post-author">Sheena Geoffrey</span>
                                <span class="post-tags"><a href="#">Tutorials on Marketing</a></span>
                            </div>
                            <h4><a href="blog.html">The Day After: 11 Things to Do After You Publish a Post</a></h4>
                            <p>Finding a real star requires going beyond "Tell me about yourself." Here are the questions that will tell you what you really want to know.</p>
                        </div>
                    </div>

                    <div class="page_nav">
                        <ul>
                            <li class="active"><a href="./index.html">1</a></li>
                            <li><a href="./index.html">2</a></li>
                            <li><a href="./index.html">3</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}