<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-3 footer-widget footer-about">
                <h5>О проекте</h5>
                <p>
                    Данный блог служит наглядным примером моего навыка.
                    Блог реализован на фреймворке Symfony 3.0
                    с использованием готовых шаблонов Bootstrap.
                </p>
            </div>
        </div>
    </div>
</footer>

<div class="footer-bottom">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <p>&copy; 2016 Блог разработки Перескокова Юрия</p>
            </div>
        </div>
    </div>
</div>