{% extends 'backend/login/loginLayout.html.twig' %}

{% block login %}
    <div class="login-box">
        <div class="login-logo">
            <a href=""><b>Symfony</b> Blog</a>
        </div>

        <div class="login-box-body">
            <p class="login-box-msg">Авторизируйтесь для начала работы</p>

            <form action="" method="post">
                <div class="form-group has-feedback">
                    <input type="email" class="form-control" placeholder="Логин">
                </div>
                <div class="form-group has-feedback">
                    <input type="password" class="form-control" placeholder="Пароль">
                </div>
                <div class="row">
                    <!-- /.col -->
                    <div class="col-xs-4">
                        <button type="submit" class="btn btn-primary btn-block btn-flat">Вход</button>
                    </div>
                    <!-- /.col -->
                </div>
            </form>
        </div>
    </div>
{% endblock %}